*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsla(0, 2%, 8%, 1);
}

.main-container {
  display: flex;
  width: 70%;
  height: 100vh;
  background-color: whitesmoke;
  margin: 0 auto;
}

.image-container {
  width: 35%;
  text-align: center;
  background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15rem auto;
  background-color: hsla(0, 2%, 8%, 0.5);
}

.logo {
  width: 6rem;
  height: auto;
}

.logo-title {
  font-family: Fredericka the Great;
  color: whitesmoke;
  font-size: 5rem;
  text-align: center;
}

.image-link {
  color: whitesmoke;
  padding-top: 17rem;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  text-decoration: underline;
}

.form-container {
  width: 65%;
  max-width: 44rem;
  height: 44rem;
  background-color: #fff;
  padding: 1.5rem 1.8rem;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.title,
header {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
}

form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.25rem 0 0.75rem 0;
}
.input-box {
  margin-bottom: 1rem;
  width: calc(100% / 2 - 1.25rem);
}

label {
  display: block;
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 5px;
}

label:hover {
  cursor: help;
}

input {
  height: 2.8rem;
  width: 100%;
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 1rem;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form input:valid {
  border: 1px solid #8bc34a;
}

input:focus:invalid {
  transform: scale(1.2);
  border: 2px solid red;
  box-shadow: 0.4rem 0.4rem 0.3rem 0 rgba(0, 0, 0, 0.2);
}

input:focus:valid {
  transform: scale(1.2);
  border: 2px solid green;
  box-shadow: 0.4rem 0.4rem 0.3rem 0 rgba(0, 0, 0, 0.2);
}

.button {
  width: 15rem;
  height: 2.8rem;
  margin: 2.2rem 0;
}

button {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #596d48;
}

button:hover {
  transform: scale(1.2);
}

@media (max-width: 584px) {
  .form-container {
    max-width: 100%;
  }
  .input-box {
    margin-bottom: 1rem;
    width: 100%;
  }
  .user-details {
    max-height: 18rem;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media (max-width: 459px) {
  .content {
    flex-direction: column;
  }
  #footer {
    flex-direction: column;
  }
}

.sign-in-suggestion a {
  color: #596d48;
}

#footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  padding-top: 12rem;
  text-align: center;
  color: hsla(0, 0%, 20%, 1);
}

#footer a {
  text-decoration: none;
  color: hsla(0, 0%, 20%, 1);
}

#footer a:hover {
  text-decoration: underline;
  color: hsla(0, 0%, 20%, 1);
}

#icon {
  transition: transform 0.3s ease-in-out;
}

#icon:hover {
  transform: rotate(360deg) scale(1.2);
}

.input-checkbox {
  margin-bottom: 1rem;
  width: calc(100% / 2 - 1.25rem);
  display: flex;
  align-items: center;
}

.input-checkbox input {
  width: 1rem;
  height: 1rem;
}

.input-checkbox > input:focus {
  transform: none;
  box-shadow: none;
}
